body {
    background-color: whitesmoke;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden !important;
}

.game-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 95vw;
    min-height: 70vh;
}

.cell {
    width: 20vw;
    height: 20vh;
    background-color: rgb(95, 95, 95);
    border: solid rgb(48, 48, 48) 5px;

}

.row {
    display: flex;
    align-items: center;
    width: 80vw;
    height: 20vh;
    background-color: rgb(95, 95, 95);
    border: solid rgb(48, 48, 48) 5px;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 84vh;
    margin-top: 0.3rem;
    background-color: rgb(95, 95, 95);
    border: solid rgb(48, 48, 48) 12px;
    border-radius: 3%;
}

.reload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

#By {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 1vw;
    font-family: "Mooli";
}

.cell {
    font-size: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mooli";
}

.score {
    margin: 0.3rem;
}

button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: "Mooli";
    font-size: 17px;
    padding: 0.6em 1.5em;
}

button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

.infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 25px;
    min-width: 25vw;
    font-family: "Mooli";
}

.number-2 {
    background-color: rgb(255, 234, 0);
}

.number-4 {
    background-color: rgb(255, 162, 0);
}

.number-8 {
    background-color: rgb(255, 98, 0);
}

.number-16 {
    background-color: rgb(255, 30, 0);
}

.number-32 {
    background-color: rgb(255, 0, 111);
}

.number-64 {
    background-color: rgb(255, 0, 195);
}

.number-128 {
    background-color: rgb(128, 0, 255);
}

.number-256 {
    background-color: rgb(47, 0, 255);
}

.number-512 {
    background-color: rgb(0, 149, 255);
}

.number-1024 {
    background-color: rgb(0, 255, 221);
}

.number-2048 {
    background-color: rgb(0, 255, 0);
}

.State {
    margin: 0.3rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

@media screen and (max-width:400px) {
    .cell {
        font-size: 1.5em;
        height: 10vh;
    }

    .row {
        height: 10vh;
    }

    .game-board {
        height: 43vh;
    }

    body {
        justify-content: space-between;

    }

    .infos {
        flex-direction: column;
    }
}